In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({"key1": ["a", "a", None, "b", "b", "a", None],
                  "key2": pd.Series([1, 2, 1, 2, 1, None, 1], dtype="Int64"),
                  "data1": np.random.standard_normal(7),
                  "data2": np.random.standard_normal(7)})

In [3]:
df

   key1  key2     data1     data2
0     a     1 -1.930107  0.592456
1     a     2  0.069431 -1.098823
2  None     1 -1.275718 -0.005402
3     b     2  0.114021  1.051616
4     b     1 -0.864193 -0.038694
5     a  <NA> -0.149089  0.041940
6  None     1  0.458696  0.010201

In [4]:
grouped = df["data1"].groupby(df["key1"])

In [5]:
grouped

In [6]:
grouped.mean()

key1
a   -0.669922
b   -0.375086
Name: data1, dtype: float64

In [7]:
means = df["data1"].groupby([df["key1"], df["key2"]]).mean()

In [8]:
means

key1  key2
a     1      -1.930107
      2       0.069431
b     1      -0.864193
      2       0.114021
Name: data1, dtype: float64

In [9]:
means.unstack()

key2         1         2
key1
a    -1.930107  0.069431
b    -0.864193  0.114021

In [10]:
states = np.array(["OH", "CA", "CA", "OH", "OH", "CA", "OH"])
years = [2005, 2005, 2006, 2005, 2006, 2005, 2006]

In [11]:
df["data1"].groupby([states, years]).mean()

CA  2005   -0.039829
    2006   -1.275718
OH  2005   -0.908043
    2006   -0.202748
Name: data1, dtype: float64

In [12]:
df.groupby("key1").mean()

      key2     data1     data2
key1
a      1.5 -0.669922 -0.154809
b      1.5 -0.375086  0.506461

In [14]:
df

   key1  key2     data1     data2
0     a     1 -1.930107  0.592456
1     a     2  0.069431 -1.098823
2  None     1 -1.275718 -0.005402
3     b     2  0.114021  1.051616
4     b     1 -0.864193 -0.038694
5     a  <NA> -0.149089  0.041940
6  None     1  0.458696  0.010201

In [16]:
df.groupby(["key1", "key2"]).mean()

              data1     data2
key1 key2
a    1    -1.930107  0.592456
     2     0.069431 -1.098823
b    1    -0.864193 -0.038694
     2     0.114021  1.051616

In [ ]:
df.groupby("key2").mean() # This throws an error for some reason

In [17]:
df.groupby(["key1", "key2"]).size()

key1  key2
a     1       1
      2       1
b     1       1
      2       1
dtype: int64

In [18]:
df.groupby("key1", dropna=False).size()

key1
a      3
b      2
NaN    2
dtype: int64

In [19]:
df.groupby(["key1", "key2"], dropna=False).size()

key1  key2
a     1       1
      2       1
      <NA>    1
b     1       1
      2       1
NaN   1       2
dtype: int64

In [20]:
df.groupby("key1").count()

      key2  data1  data2
key1
a        2      3      3
b        2      2      2

In [21]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
  key1  key2     data1     data2
0    a     1 -1.930107  0.592456
1    a     2  0.069431 -1.098823
5    a  <NA> -0.149089  0.041940
b
  key1  key2     data1     data2
3    b     2  0.114021  1.051616
4    b     1 -0.864193 -0.038694

In [22]:
for (k1, k2), group in df.groupby(["key1", "key2"]):
    print((k1, k2))
    print(group)

('a', np.int64(1))
  key1  key2     data1     data2
0    a     1 -1.930107  0.592456
('a', np.int64(2))
  key1  key2     data1     data2
1    a     2  0.069431 -1.098823
('b', np.int64(1))
  key1  key2     data1     data2
4    b     1 -0.864193 -0.038694
('b', np.int64(2))
  key1  key2     data1     data2
3    b     2  0.114021  1.051616

In [23]:
pieces = {name: group for name, group in df.groupby("key1")}

In [24]:
pieces["b"]

  key1  key2     data1     data2
3    b     2  0.114021  1.051616
4    b     1 -0.864193 -0.038694

In [25]:
grouped = df.groupby({"key1": "key", "key2": "key",
                     "data1": "data", "data2": "data"}, axis="columns")

/tmp/ipykernel_5454/2563747980.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  grouped = df.groupby({"key1": "key", "key2": "key",

In [26]:
for group_key, group_values in grouped:
    print(group_key)
    print(group_values)

data
      data1     data2
0 -1.930107  0.592456
1  0.069431 -1.098823
2 -1.275718 -0.005402
3  0.114021  1.051616
4 -0.864193 -0.038694
5 -0.149089  0.041940
6  0.458696  0.010201
key
   key1  key2
0     a     1
1     a     2
2  None     1
3     b     2
4     b     1
5     a  <NA>
6  None     1

In [27]:
df.groupby(["key1", "key2"])[["data2"]].mean()

              data2
key1 key2
a    1     0.592456
     2    -1.098823
b    1    -0.038694
     2     1.051616

In [28]:
s_grouped = df.groupby(["key1", "key2"])["data2"]

In [29]:
s_grouped

In [30]:
s_grouped.mean()

key1  key2
a     1       0.592456
      2      -1.098823
b     1      -0.038694
      2       1.051616
Name: data2, dtype: float64

In [31]:
people = pd.DataFrame(np.random.standard_normal((5, 5)),
                     columns=["a", "b", "c", "d", "e"],
                     index=["Joe", "Steve", "Wanda", "Jill", "Trey"])

In [32]:
people.iloc[2:3, [1, 2]] = np.nan

In [33]:
people

              a         b         c         d         e
Joe   -0.712797 -0.611839 -0.912402  0.711132  0.442638
Steve -1.390706 -0.141553  0.033584 -1.315920  1.029650
Wanda -0.320288       NaN       NaN -0.590330  0.143973
Jill   0.221992  1.433459 -0.337326  1.272628 -0.533021
Trey  -0.719130  1.799571 -0.479064 -0.142191  0.556855

In [35]:
mapping = {"a": "red", "b": "red", "c": "blue", "d": "blue", "e": "red", "f": "orange"}

In [36]:
by_column = people.groupby(mapping, axis="columns")

/tmp/ipykernel_5454/2536829432.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  by_column = people.groupby(mapping, axis="columns")

In [37]:
by_column.sum()

           blue       red
Joe   -0.201270 -0.881997
Steve -1.282336 -0.502609
Wanda -0.590330 -0.176315
Jill   0.935302  1.122430
Trey  -0.621254  1.637296

In [38]:
map_series = pd.Series(mapping)

In [39]:
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [40]:
people.groupby(map_series, axis="columns").count()

/tmp/ipykernel_5454/2727320543.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  people.groupby(map_series, axis="columns").count()

       blue  red
Joe       2    3
Steve     2    3
Wanda     1    2
Jill      2    3
Trey      2    3

In [41]:
people.groupby(len).sum()

          a         b         c         d         e
3 -0.712797 -0.611839 -0.912402  0.711132  0.442638
4 -0.497137  3.233029 -0.816389  1.130437  0.023834
5 -1.710994 -0.141553  0.033584 -1.906249  1.173623

In [42]:
key_list = ["one", "one", "one", "two", "two"]

In [43]:
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -0.712797 -0.611839 -0.912402  0.711132  0.442638
4 two -0.719130  1.433459 -0.479064 -0.142191 -0.533021
5 one -1.390706 -0.141553  0.033584 -1.315920  0.143973

In [44]:
columns = pd.MultiIndex.from_arrays([["US", "US", "US", "JP", "JP"],
                                    [1, 3, 5, 1, 3]],
                                   names = ["cty", "tenor"])

In [45]:
hier_df = pd.DataFrame(np.random.standard_normal((4, 5)), columns=columns)

In [46]:
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.366984  0.684394  0.829628 -0.482583  0.605322
1     -0.932739  1.791370 -1.156255 -1.565621  1.910736
2     -0.341724 -0.482380  0.512027 -1.589620 -0.456767
3      1.376940 -1.060481  0.411036 -1.242445 -2.005060

In [47]:
hier_df.groupby(level="cty", axis="columns").count()

/tmp/ipykernel_5454/2795167867.py:1: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  hier_df.groupby(level="cty", axis="columns").count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [48]:
df

   key1  key2     data1     data2
0     a     1 -1.930107  0.592456
1     a     2  0.069431 -1.098823
2  None     1 -1.275718 -0.005402
3     b     2  0.114021  1.051616
4     b     1 -0.864193 -0.038694
5     a  <NA> -0.149089  0.041940
6  None     1  0.458696  0.010201

In [49]:
grouped = df.groupby("key1")

In [50]:
grouped["data1"].nsmallest(2)

key1
a     0   -1.930107
      5   -0.149089
b     4   -0.864193
      3    0.114021
Name: data1, dtype: float64

In [51]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [52]:
grouped.agg(peak_to_peak)

      key2     data1     data2
key1
a        1  1.999538  1.691278
b        1  0.978214  1.090310

In [53]:
grouped.describe()

      key2                                           data1            ...  \
     count mean       std  min   25%  50%   75%  max count      mean  ...
key1                                                                  ...
a      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   3.0 -0.669922  ...
b      2.0  1.5  0.707107  1.0  1.25  1.5  1.75  2.0   2.0 -0.375086  ...

                         data2                                          \
           75%       max count      mean       std       min       25%
key1
a    -0.039829  0.069431   3.0 -0.154809  0.862635 -1.098823 -0.528441
b    -0.130532  0.114021   2.0  0.506461  0.770966 -0.038694  0.233884


           50%       75%       max
key1
a     0.041940  0.317198  0.592456
b     0.506461  0.779039  1.051616

[2 rows x 24 columns]

In [55]:
url = "https://github.com/wesm/pydata-book/blob/3rd-edition/examples/tips.csv?raw=true"
tips = pd.read_csv(url)

In [56]:
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [57]:
tips["tip_pct"] = tips["tip"] / tips["total_bill"]

In [58]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [59]:
grouped = tips.groupby(["day", "smoker"])

In [60]:
grouped_pct = grouped["tip_pct"]

In [61]:
grouped_pct.agg("mean")

day   smoker
Fri   No        0.151650
      Yes       0.174783
Sat   No        0.158048
      Yes       0.147906
Sun   No        0.160113
      Yes       0.187250
Thur  No        0.160298
      Yes       0.163863
Name: tip_pct, dtype: float64

In [62]:
grouped_pct.agg(["mean", "std", peak_to_peak])

                 mean       std  peak_to_peak
day  smoker
Fri  No      0.151650  0.028123      0.067349
     Yes     0.174783  0.051293      0.159925
Sat  No      0.158048  0.039767      0.235193
     Yes     0.147906  0.061375      0.290095
Sun  No      0.160113  0.042347      0.193226
     Yes     0.187250  0.154134      0.644685
Thur No      0.160298  0.038774      0.193350
     Yes     0.163863  0.039389      0.151240

In [63]:
grouped_pct.agg([("average", "mean"), ("stdev", np.std)])

/tmp/ipykernel_5454/1734782830.py:1: FutureWarning: The provided callable <function std at 0x7f150059a0c0> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  grouped_pct.agg([("average", "mean"), ("stdev", np.std)])

              average     stdev
day  smoker
Fri  No      0.151650  0.028123
     Yes     0.174783  0.051293
Sat  No      0.158048  0.039767
     Yes     0.147906  0.061375
Sun  No      0.160113  0.042347
     Yes     0.187250  0.154134
Thur No      0.160298  0.038774
     Yes     0.163863  0.039389

In [64]:
functions = ["count", "mean", "max"]

In [65]:
result = grouped[["tip_pct", "total_bill"]].agg(functions)

In [66]:
result

            tip_pct                     total_bill
              count      mean       max      count       mean    max
day  smoker
Fri  No           4  0.151650  0.187735          4  18.420000  22.75
     Yes         15  0.174783  0.263480         15  16.813333  40.17
Sat  No          45  0.158048  0.291990         45  19.661778  48.33
     Yes         42  0.147906  0.325733         42  21.276667  50.81
Sun  No          57  0.160113  0.252672         57  20.506667  48.17
     Yes         19  0.187250  0.710345         19  24.120000  45.35
Thur No          45  0.160298  0.266312         45  17.113111  41.19
     Yes         17  0.163863  0.241255         17  19.190588  43.11

In [67]:
result["tip_pct"]

             count      mean       max
day  smoker
Fri  No          4  0.151650  0.187735
     Yes        15  0.174783  0.263480
Sat  No         45  0.158048  0.291990
     Yes        42  0.147906  0.325733
Sun  No         57  0.160113  0.252672
     Yes        19  0.187250  0.710345
Thur No         45  0.160298  0.266312
     Yes        17  0.163863  0.241255

In [68]:
ftuples = [("Average", "mean"), ("Variance", np.var)]

In [69]:
grouped[["tip_pct", "total_bill"]].agg(ftuples)

/tmp/ipykernel_5454/365474927.py:1: FutureWarning: The provided callable <function var at 0x7f150059a200> is currently using SeriesGroupBy.var. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "var" instead.
  grouped[["tip_pct", "total_bill"]].agg(ftuples)

              tip_pct           total_bill
              Average  Variance    Average    Variance
day  smoker
Fri  No      0.151650  0.000791  18.420000   25.596333
     Yes     0.174783  0.002631  16.813333   82.562438
Sat  No      0.158048  0.001581  19.661778   79.908965
     Yes     0.147906  0.003767  21.276667  101.387535
Sun  No      0.160113  0.001793  20.506667   66.099980
     Yes     0.187250  0.023757  24.120000  109.046044
Thur No      0.160298  0.001503  17.113111   59.625081
     Yes     0.163863  0.001551  19.190588   69.808518

In [70]:
grouped.agg({"tip": np.max, "size": "sum"})

/tmp/ipykernel_5454/3453032214.py:1: FutureWarning: The provided callable <function max at 0x7f1500599580> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  grouped.agg({"tip": np.max, "size": "sum"})

               tip  size
day  smoker
Fri  No       3.50     9
     Yes      4.73    31
Sat  No       9.00   115
     Yes     10.00   104
Sun  No       6.00   167
     Yes      6.50    49
Thur No       6.70   112
     Yes      5.00    40

In [71]:
grouped.agg({"tip_pct": ["min", "max", "mean", "std"],
            "size": "sum"})

              tip_pct                               size
                  min       max      mean       std  sum
day  smoker
Fri  No      0.120385  0.187735  0.151650  0.028123    9
     Yes     0.103555  0.263480  0.174783  0.051293   31
Sat  No      0.056797  0.291990  0.158048  0.039767  115
     Yes     0.035638  0.325733  0.147906  0.061375  104
Sun  No      0.059447  0.252672  0.160113  0.042347  167
     Yes     0.065660  0.710345  0.187250  0.154134   49
Thur No      0.072961  0.266312  0.160298  0.038774  112
     Yes     0.090014  0.241255  0.163863  0.039389   40

In [74]:
tips.groupby(["day", "smoker"], as_index=False).mean() # This throws an error for some reason

TypeError: agg function failed [how->mean,dtype->object]

In [75]:
def top(df, n=5, column="tip_pct"):
    return df.sort_values(column, ascending=False)[:n]

In [76]:
top(tips, n=6)

     total_bill   tip smoker  day    time  size   tip_pct
172        7.25  5.15    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00    Yes  Sun  Dinner     2  0.416667
67         3.07  1.00    Yes  Sat  Dinner     1  0.325733
232       11.61  3.39     No  Sat  Dinner     2  0.291990
183       23.17  6.50    Yes  Sun  Dinner     4  0.280535
109       14.31  4.00    Yes  Sat  Dinner     2  0.279525

In [77]:
tips.groupby("smoker").apply(top)

/tmp/ipykernel_5454/2530541573.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby("smoker").apply(top)

            total_bill   tip smoker   day    time  size   tip_pct
smoker
No     232       11.61  3.39     No   Sat  Dinner     2  0.291990
       149        7.51  2.00     No  Thur   Lunch     2  0.266312
       51        10.29  2.60     No   Sun  Dinner     2  0.252672
       185       20.69  5.00     No   Sun  Dinner     5  0.241663
       88        24.71  5.85     No  Thur   Lunch     2  0.236746
Yes    172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
       178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
       67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
       183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
       109       14.31  4.00    Yes   Sat  Dinner     2  0.279525

In [78]:
tips.groupby(["smoker", "day"]).apply(top, n=1, column="total_bill")

/tmp/ipykernel_5454/643835440.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby(["smoker", "day"]).apply(top, n=1, column="total_bill")

                 total_bill    tip smoker   day    time  size   tip_pct
smoker day
No     Fri  94        22.75   3.25     No   Fri  Dinner     2  0.142857
       Sat  212       48.33   9.00     No   Sat  Dinner     4  0.186220
       Sun  156       48.17   5.00     No   Sun  Dinner     6  0.103799
       Thur 142       41.19   5.00     No  Thur   Lunch     5  0.121389
Yes    Fri  95        40.17   4.73    Yes   Fri  Dinner     4  0.117750
       Sat  170       50.81  10.00    Yes   Sat  Dinner     3  0.196812
       Sun  182       45.35   3.50    Yes   Sun  Dinner     3  0.077178
       Thur 197       43.11   5.00    Yes  Thur   Lunch     4  0.115982

In [79]:
result = tips.groupby("smoker")["tip_pct"].describe()

In [80]:
result

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [81]:
result.unstack("smoker")

       smoker
count  No        151.000000
       Yes        93.000000
mean   No          0.159328
       Yes         0.163196
std    No          0.039910
       Yes         0.085119
min    No          0.056797
       Yes         0.035638
25%    No          0.136906
       Yes         0.106771
50%    No          0.155625
       Yes         0.153846
75%    No          0.185014
       Yes         0.195059
max    No          0.291990
       Yes         0.710345
dtype: float64

In [82]:
tips.groupby("smoker", group_keys=False).apply(top)

/tmp/ipykernel_5454/3851957478.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  tips.groupby("smoker", group_keys=False).apply(top)

     total_bill   tip smoker   day    time  size   tip_pct
232       11.61  3.39     No   Sat  Dinner     2  0.291990
149        7.51  2.00     No  Thur   Lunch     2  0.266312
51        10.29  2.60     No   Sun  Dinner     2  0.252672
185       20.69  5.00     No   Sun  Dinner     5  0.241663
88        24.71  5.85     No  Thur   Lunch     2  0.236746
172        7.25  5.15    Yes   Sun  Dinner     2  0.710345
178        9.60  4.00    Yes   Sun  Dinner     2  0.416667
67         3.07  1.00    Yes   Sat  Dinner     1  0.325733
183       23.17  6.50    Yes   Sun  Dinner     4  0.280535
109       14.31  4.00    Yes   Sat  Dinner     2  0.279525

In [83]:
frame = pd.DataFrame({"data1": np.random.standard_normal(1000),
                     "data2": np.random.standard_normal(1000)})

In [84]:
frame.head()

      data1     data2
0 -1.591458 -0.940169
1 -1.266823 -0.519345
2 -1.478443  0.673703
3 -0.760273  0.058557
4  1.395199  1.400724

In [85]:
quartiles = pd.cut(frame["data1"], 4)

In [86]:
quartiles.head(10)

0    (-1.97, -0.338]
1    (-1.97, -0.338]
2    (-1.97, -0.338]
3    (-1.97, -0.338]
4     (1.295, 2.928]
5    (-0.338, 1.295]
6    (-0.338, 1.295]
7    (-0.338, 1.295]
8    (-0.338, 1.295]
9    (-0.338, 1.295]
Name: data1, dtype: category
Categories (4, interval[float64, right]): [(-3.609, -1.97] < (-1.97, -0.338] < (-0.338, 1.295] < (1.295, 2.928]]

In [90]:
def get_stats(group):
    return pd.DataFrame(
        {"min": group.min(), "max": group.max(),
        "count": group.count(), "mean": group.mean()})

In [91]:
grouped = frame.groupby(quartiles)

/tmp/ipykernel_5454/4041437760.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped = frame.groupby(quartiles)

In [92]:
grouped.apply(get_stats)

                            min       max  count      mean
data1
(-3.609, -1.97] data1 -3.602819 -1.987702     21 -2.461650
                data2 -3.123667  2.296950     21 -0.061903
(-1.97, -0.338] data1 -1.967197 -0.341184    354 -0.955856
                data2 -2.435488  2.682593    354 -0.059068
(-0.338, 1.295] data1 -0.336862  1.289587    536  0.407376
                data2 -3.399938  3.453728    536 -0.012997
(1.295, 2.928]  data1  1.303936  2.927728     89  1.775720
                data2 -2.633507  2.597628     89  0.034815

In [93]:
grouped.agg(["min", "max", "count", "mean"])

                    data1                               data2                  \
                      min       max count      mean       min       max count
data1
(-3.609, -1.97] -3.602819 -1.987702    21 -2.461650 -3.123667  2.296950    21
(-1.97, -0.338] -1.967197 -0.341184   354 -0.955856 -2.435488  2.682593   354
(-0.338, 1.295] -0.336862  1.289587   536  0.407376 -3.399938  3.453728   536
(1.295, 2.928]   1.303936  2.927728    89  1.775720 -2.633507  2.597628    89


                     mean
data1
(-3.609, -1.97] -0.061903
(-1.97, -0.338] -0.059068
(-0.338, 1.295] -0.012997
(1.295, 2.928]   0.034815

In [94]:
quartiles_samp = pd.qcut(frame["data1"], 4, labels=False)

In [95]:
quartiles_samp.head()

0    0
1    0
2    0
3    0
4    3
Name: data1, dtype: int64

In [96]:
grouped = frame.groupby(quartiles_samp)

In [97]:
grouped.apply(get_stats)

                  min       max  count      mean
data1
0     data1 -3.602819 -0.699269    250 -1.310791
      data2 -3.123667  2.682593    250 -0.036284
1     data1 -0.697665  0.023363    250 -0.325948
      data2 -2.435488  2.203502    250 -0.042345
2     data1  0.024882  0.680922    250  0.325060
      data2 -2.997542  3.453728    250 -0.063393
3     data1  0.686800  2.927728    250  1.256979
      data2 -3.399938  2.925235    250  0.037711

In [98]:
s = pd.Series(np.random.standard_normal(6))

In [99]:
s[::2] = np.nan

In [100]:
s

0         NaN
1    0.295485
2         NaN
3    0.752702
4         NaN
5    0.800304
dtype: float64

In [101]:
s.fillna(s.mean())

0    0.616164
1    0.295485
2    0.616164
3    0.752702
4    0.616164
5    0.800304
dtype: float64

In [102]:
states = ["Ohio", "New York", "Vermont", "Florida", "Oregon", "Nevada", "California", "Idaho"]

In [103]:
group_key = ["East", "East", "East", "East", "West", "West", "West", "West"]

In [104]:
data = pd.Series(np.random.standard_normal(8), index=states)

In [105]:
data

Ohio          0.475036
New York     -0.539986
Vermont      -0.547177
Florida      -0.031711
Oregon        0.553777
Nevada       -0.077534
California   -0.263109
Idaho         0.374335
dtype: float64

In [106]:
data[["Vermont", "Nevada", "Idaho"]] = np.nan

In [107]:
data

Ohio          0.475036
New York     -0.539986
Vermont            NaN
Florida      -0.031711
Oregon        0.553777
Nevada             NaN
California   -0.263109
Idaho              NaN
dtype: float64

In [108]:
data.groupby(group_key).size()

East    4
West    4
dtype: int64

In [109]:
data.groupby(group_key).count()

East    3
West    2
dtype: int64

In [110]:
data.groupby(group_key).mean()

East   -0.032220
West    0.145334
dtype: float64

In [111]:
def fill_mean(group):
    return group.fillna(group.mean())

In [112]:
data.groupby(group_key).apply(fill_mean)

East  Ohio          0.475036
      New York     -0.539986
      Vermont      -0.032220
      Florida      -0.031711
West  Oregon        0.553777
      Nevada        0.145334
      California   -0.263109
      Idaho         0.145334
dtype: float64

In [113]:
fill_values = {"East": 0.5, "West": -1}

In [114]:
def fill_func(group):
    return group.fillna(fill_values[group.name])

In [115]:
data.groupby(group_key).apply(fill_func)

East  Ohio          0.475036
      New York     -0.539986
      Vermont       0.500000
      Florida      -0.031711
West  Oregon        0.553777
      Nevada       -1.000000
      California   -0.263109
      Idaho        -1.000000
dtype: float64

In [116]:
suits = ["H", "S", "C", "D"]

In [117]:
card_val = (list(range(1, 11)) + [10] * 3) * 4

In [118]:
base_names = ["A"] + list(range(2, 11)) + ["J", "K", "Q"]

In [119]:
cards = []

In [120]:
for suit in suits:
    cards.extend(str(num) + suit for num in base_names)

In [121]:
deck = pd.Series(card_val, index=cards)

In [122]:
deck.head(13)

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

In [123]:
def draw(deck, n=5):
    return deck.sample(n)

In [124]:
draw(deck)

8C     8
JC    10
5H     5
9S     9
7S     7
dtype: int64

In [125]:
def get_suit(card):
    return card[-1]

In [126]:
deck.groupby(get_suit).apply(draw, n=2)

C  2C     2
   9C     9
D  6D     6
   KD    10
H  4H     4
   2H     2
S  KS    10
   3S     3
dtype: int64

In [127]:
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

JC     10
3C      3
5D      5
AD      1
KH     10
10H    10
7S      7
AS      1
dtype: int64

In [129]:
df = pd.DataFrame({"category": ["a", "a", "a", "a", "b", "b", "b", "b"],
                  "data": np.random.standard_normal(8),
                  "weights": np.random.uniform(size=8)})

In [130]:
df

  category      data   weights
0        a -0.842835  0.698115
1        a -0.448964  0.671863
2        a  0.561229  0.197504
3        a  0.032239  0.714100
4        b -0.412352  0.230651
5        b  0.517067  0.916735
6        b  1.026091  0.628405
7        b -0.077574  0.970231

In [131]:
grouped = df.groupby("category")

In [132]:
def get_wavg(group):
    return np.average(group["data"], weights=group["weights"])

In [133]:
grouped.apply(get_wavg)

/tmp/ipykernel_5454/4286695940.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped.apply(get_wavg)

category
a   -0.331424
b    0.345387
dtype: float64

In [134]:
url = "https://github.com/wesm/pydata-book/blob/3rd-edition/examples/stock_px.csv?raw=true"
close_px = pd.read_csv(url)

In [135]:
close_px.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2214 entries, 0 to 2213
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2214 non-null   object
 1   AAPL        2214 non-null   float64
 2   MSFT        2214 non-null   float64
 3   XOM         2214 non-null   float64
 4   SPX         2214 non-null   float64
dtypes: float64(4), object(1)
memory usage: 86.6+ KB

In [136]:
close_px.tail(4)

               Unnamed: 0    AAPL   MSFT    XOM      SPX
2210  2011-10-11 00:00:00  400.29  27.00  76.27  1195.54
2211  2011-10-12 00:00:00  402.19  26.96  77.16  1207.25
2212  2011-10-13 00:00:00  408.43  27.18  76.37  1203.66
2213  2011-10-14 00:00:00  422.00  27.27  78.11  1224.58

In [137]:
def spx_corr(group):
    return group.corrwith(group["SPX"])

In [139]:
rets = close_px.pct_change().dropna() # This throws an error for some reason

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [140]:
df = pd.DataFrame({"key": ["a", "b", "c"] * 4,
                  "value": np.arange(12.)})

In [141]:
df

   key  value
0    a    0.0
1    b    1.0
2    c    2.0
3    a    3.0
4    b    4.0
5    c    5.0
6    a    6.0
7    b    7.0
8    c    8.0
9    a    9.0
10   b   10.0
11   c   11.0

In [143]:
g = df.groupby("key")["value"]

In [144]:
g.mean()

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [145]:
def get_mean(group):
    return group.mean()

In [146]:
g.transform(get_mean)

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [147]:
g.transform("mean")

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [148]:
def times_two(group):
    return group * 2

In [149]:
g.transform(times_two)

0      0.0
1      2.0
2      4.0
3      6.0
4      8.0
5     10.0
6     12.0
7     14.0
8     16.0
9     18.0
10    20.0
11    22.0
Name: value, dtype: float64

In [150]:
def get_ranks(group):
    return group.rank(ascending=False)

In [151]:
g.transform(get_ranks)

0     4.0
1     4.0
2     4.0
3     3.0
4     3.0
5     3.0
6     2.0
7     2.0
8     2.0
9     1.0
10    1.0
11    1.0
Name: value, dtype: float64

In [152]:
def normalize(x):
    return (x - x.mean()) / x.std()

In [153]:
g.transform(normalize)

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [154]:
g.apply(normalize)

key
a    0    -1.161895
     3    -0.387298
     6     0.387298
     9     1.161895
b    1    -1.161895
     4    -0.387298
     7     0.387298
     10    1.161895
c    2    -1.161895
     5    -0.387298
     8     0.387298
     11    1.161895
Name: value, dtype: float64

In [155]:
g.transform("mean")

0     4.5
1     5.5
2     6.5
3     4.5
4     5.5
5     6.5
6     4.5
7     5.5
8     6.5
9     4.5
10    5.5
11    6.5
Name: value, dtype: float64

In [156]:
normalized = (df["value"] - g.transform("mean")) / g.transform("std")

In [157]:
normalized

0    -1.161895
1    -1.161895
2    -1.161895
3    -0.387298
4    -0.387298
5    -0.387298
6     0.387298
7     0.387298
8     0.387298
9     1.161895
10    1.161895
11    1.161895
Name: value, dtype: float64

In [158]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_pct
0       16.99  1.01     No  Sun  Dinner     2  0.059447
1       10.34  1.66     No  Sun  Dinner     3  0.160542
2       21.01  3.50     No  Sun  Dinner     3  0.166587
3       23.68  3.31     No  Sun  Dinner     2  0.139780
4       24.59  3.61     No  Sun  Dinner     4  0.146808

In [159]:
tips.pivot_table(index=["day", "smoker"]) # This throws an error

TypeError: agg function failed [how->mean,dtype->object]